Body {  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: rgb(53, 180, 138);  
    background-position: center;
    padding: 20%;
    margin: auto;
     text-align: center;
  }  
  button {   
    background-color: #4CAF50;   
    width: 100%; 
     padding: 15px;   
     margin: 10px 0px;   
     border: none;     
      }   
form {   
     border: 3px solid #f1f1f1;   
 }   
input[type=text], input[type=password] {   
     width: 100%;   
     margin: 8px 0;  
     padding: 10px ;
     display: inline-block;   
     border: 2px solid #008000;   
     box-sizing: border-box; 
     border-radius: 20px;  
 }  
button:hover {   
     opacity: 0.7;   
 }   
.cancelbtn {   
     width: auto;   
     padding: 10px 18px;  
     margin: 10px 5px;  
 }   
     
  
.container {   
     padding: 25px;   
     background-color: rgb(153, 191, 229);  
 }   